@{
    ViewBag.Title = "AppointmentError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Appointment Creation Failed</h2>

<section>
    <p>Error: It seems that someone else booked your appointment slot before you finished. Please try again! </p>
</section>
