@{
    ViewBag.Title = "AppointmentError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Appointment Creation Failed</h2>

<section>
    <p>Appointment was unable to be created.</p>
    <p>Id = @ViewBag.AppointmentDetails.Id</p>
</section>
